:root {
	/** Base colors */
	--clr-dark-a0: #000000;
	--clr-light-a0: #ffffff;

	/** Theme primary colors */
	--clr-primary-a0: #123eb5;
	--clr-primary-a10: #4151be;
	--clr-primary-a20: #5f64c6;
	--clr-primary-a30: #7879cf;
	--clr-primary-a40: #908ed7;
	--clr-primary-a50: #a6a3e0;

	/** Theme surface colors */
	--clr-surface-a0: #211f1f;
	--clr-surface-a10: #363434;
	--clr-surface-a20: #4c4a4a;
	--clr-surface-a30: #636161;
	--clr-surface-a40: #7b7979;
	--clr-surface-a50: #949393;

	/** Theme tonal surface colors */
	--clr-surface-tonal-a0: #25222c;
	--clr-surface-tonal-a10: #3a3740;
	--clr-surface-tonal-a20: #4f4c55;
	--clr-surface-tonal-a30: #66636b;
	--clr-surface-tonal-a40: #7e7b82;
	--clr-surface-tonal-a50: #96949a;

	/** Success colors */
	--clr-success-a0: #22946e;
	--clr-success-a10: #47d5a6;
	--clr-success-a20: #9ae8ce;

	/** Warning colors */
	--clr-warning-a0: #a87a2a;
	--clr-warning-a10: #d7ac61;
	--clr-warning-a20: #ecd7b2;

	/** Danger colors */
	--clr-danger-a0: #9c2121;
	--clr-danger-a10: #d94a4a;
	--clr-danger-a20: #eb9e9e;

	/** Info colors */
	--clr-info-a0: #21498a;
	--clr-info-a10: #4077d1;
	--clr-info-a20: #92b2e5;
}

html,
body {
	background-color: var(--clr-surface-a0);
	color: var(--clr-light-a0);
}